/* ============================ */
/* Responsive for 1200px Screen */
/* ============================ */
@media only screen and (max-width: 5000px)
{
  .header-text{
    width: 114rem;
    margin: auto;
  }
}

/* ============================ */
/* Responsive for 1200px Screen */
/* ============================ */
@media only screen and (max-width: 1200px)
{
  header{
    height: 65vh;
  }
  .row{
    margin: 0 15px;
  }
  .header-text{
    width: 90%;
  }
	
}

/* ============================ */
/* Responsive for 1024px Screen */
/* ============================ */
@media only screen and (max-width: 1024px)
{
   html{
    font-size: 57.5%
  }
  header{
    height: 55vh
  }
  .main-menu{
    display: none;
  }
  .contact-area form{
    width: 100%;
  }
  .mobile-menu span{
    display: block;
  }
}
/* ============================ */
/* Responsive for 980px Screen */
/* ============================ */
@media only screen and (max-width: 980px)
{
 
  .span_1_of_6{
    width: 23.8%;
  }
  
  .doctors-area .col:nth-child(7){
    margin: 1% 0 1% 1.6%;
  }
  
  .doctors-area .col:nth-child(5),
  .doctors-area .col:nth-child(9){
    margin-left: 0;
  }
  
  .doctors-area h3{
    font-size: 2.3rem
  }
  .doctors-area h3{
    font-size: 1.8rem
  }
  .t-box .role{
    font-size: 1.8rem;
    height: 5rem
  }
  
  .t-box a:link,
  .t-box a:visited{
    font-size: 1.5rem;
  }
  
  
  }
/* ============================ */
/* Responsive for 768px Screen */
/* ============================ */
 @media only screen and (max-width: 768px)
 {
   header{
     height: 55vh;
   }
   h2{
     font-size: 3.5rem
   }
   h2::after{
     margin-top: 1rem;
       margin-bottom: 2rem
     }
  
   .little-description{
     width: 100%;

   }
   .span_1_of_5,
   .span_1_of_6{
     width: 32.26%;
   }
   
   .service-area .col:nth-child(4),
   .doctors-area .col:nth-child(4),
   .doctors-area .col:nth-child(7),
   .doctors-area .col:nth-child(10){
     margin-left: 0
   }
   
   .service-area .span_1_of_5:nth-child(5){
     float: right;
   }
   .doctor-filter button{
     font-size: 1.5rem;
     margin: 0 .3rem
   }
   .t-box .role{
     font-size: 1.5rem
   }
}
/* ============================ */
/* Responsive for 480px Screen */
/* ============================ */
@media only screen and (max-width: 480px){
  header{
    height: 55vh; 
    
  }
  .header-text h1{
	  font-size: 200%
  }	  
  html{
    font-size: 52%
  }
 .span_1_of_5,
 .span_1_of_6{
    width: 49.2%;
  }
  .s-img{
    width: 90%;
    height: auto;
    border-radius: 0;
  }
  .doctor-filter button{
   margin: 1rem 0.5rem;
  }
    .service-area .span_1_of_5:nth-child(5){
     float: none;
   }
  .location-area .location-description{
    width: 100%
  }
   .location-area .location-description p{
    font-size: 2rem;
  }
  .location-area .location-description p b{
    font-size: 2.5rem
  }
}





